// breakpoints
$set-breakpoint:( xsmall:0px, small:578px, medium:768px, large:992px, xlarge:1200px, xxlarge:1920px);
// 
// Colors
// ## Primary
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Dark-Green: hsl(154, 59%, 35%);
// ## Accent
$Blue: hsl(248, 32%, 49%);
// ## Neutral
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);